.pline{
    width: 50%;
    position: absolute;
    border-right-width: 10px;
    right: 24%;
        padding-top: 8%;
}.comdiv1{
   // position: absolute;
    left: 19%;
    width: 100%;
    height: auto;
}
.comdiv2{
  //  position: absolute;
    left: 33%;
    width: 100%;
    height: auto;
}
.comdiv3{
    left: 47%;
    width: 100%;
    height: auto;
}
.comdiv4{
   // position: absolute;
    left: 61%;
    width: 100%;
    height: auto;
}
.comdiv5{
   // position: absolute;
    left: 75%;
    width: 100%;
    height: auto;
}
.logo{
   width: 20%;
   top: 37%;
   position: absolute;
   left: 38%;
}
.falogo{
    padding-top: 3.9%;
}
.fai{
    padding-top: 3.2%;
}
.falog{
    padding-top: 3.5%;
}

.cls{
    padding-top:5%
}

.comdiv2:hover .imag,.comdiv4:hover .imag{
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
}

.comdiv1,.comdiv2,.comdiv3,.comdiv4,.comdiv5{

        width: 9%;
        height: auto;
        float: left;
        padding: 3px;
        position: absolute;

    }
.imag{
    width: 100%;
height:auto;
-webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
transition: width 2s, height 2s, transform 2s;
}
.comdiv1:hover .imag,.comdiv3:hover .imag,.comdiv5:hover .imag{
    -webkit-transform: rotate(-90deg); /* Safari */
    transform: rotate(-90deg);
}

.cls{
    width: 100%;
    height: auto;
    padding-top:30px;
}
.text {
     width: 109%;
    height: auto;
    float: left;
}
.text1,.text2,.text3{
    width: 225px;
    height: auto;
    float: left;
    padding: 3px;
   // position: absolute;   
}
.textimg1{
    width: 109%;
}
