<div><img class="pline" src="assets/images/back.png" /></div>


<div class="cls">
    <div class="comdiv1"><img class="imag imaga " id="imag0" src="assets/images/1..png" /><img class="logo falogo" id="imag0" src="assets/images/logo1.png" /></div>
    <div class="comdiv2"><img class="imag imagc" id="imag1" src="assets/images/2..png" /><img class="logo" id="imag1" src="assets/images/logo2.png" /></div>
    <div class="comdiv3"><img class="imag imaga" id="imag2" src="assets/images/3..png" /><img class="logo falog" id="imag2" src="assets/images/logo3.png" /></div>
    <div class="comdiv4"><img class="imag imagc" id="imag3" src="assets/images/4..png" /><img class="logo falogo" id="imag3" src="assets/images/logo4.png" /></div>
    <div class="comdiv5"><img class="imag imaga" id="imag4" src="assets/images/5..png" /><img class="logo fai" id="imag4" src="assets/images/logo5.png" /></div>
 <i class="fas fa-book-open"></i>
 
</div>